<!DOCTYPE html>
<html ng-app="chinesePoker">
<head>
	<title>Chinese Poker</title>
	<link rel="stylesheet" type="text/css" href="/styles/style.css">

	<!-- Vendor Scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>

	<!-- Program Script -->
    <script src="/scripts/app.js"></script>
    <script src="/scripts/dbfunctions.js"></script>
    <script src="/scripts/images.js"></script>
</head>
<body>
	<div class=".container-fluid"> 
		<div class="row title">
			<h1>Chinese Poker</h1>
		</div>
		<div class="row game">
			<div class="col-md-9 col-lg-9 game_board">
				<div class="opponents row">
					<div class="left_game col-md-3"> 
						<div class="opponent0">
						</div>
					</div>
					<div class="mid_game col-md-6">
						<div class="row">
							<div class="opponent1">
							</div>
						</div>
						<div class="forty-vh row">
							<div class='last-play col-md-12'>
								<h3 class='player-to-move'>Player to move is</h3>
								<h3>Last play was</h3>
							</div>
						</div>
					</div>
					<div class="right_game col-md-3">
						<div class="opponent2">
						</div>
					</div>
				</div>
				<div class="player">
					<div class="move-buttons">
						<button type="button" class="play-cards btn btn-default">Play Cards</button>
						<button type="button" class="pass btn btn-default">Pass</button>
					</div>
					<script id="player-template" type="text/x-handlebars-template">
						{{#each card}}
							<img class="card my-card" id="{{value}}" src="{{image}}">
						{{/each}}
					</script>
				</div>
			</div>
			<div class="col-md-3 col-lg-3 right-side">
				<div class="row col-md-12 col-lg-12" id="history">
					<h3>Previous Round of Moves</h3>
					<script id="history-template" type="text/x-handlebars-template">
						{{#each move}}
							<p class="historical-move"> {{name}} played {{cards}} </p>
						{{/each}}
					</script>
				</div>
			</div>
		</div>
	</div>
</body>
</html>